body {
    margin: 0 auto;
    padding: auto;
}

.container {
    display: flex;
}

.img-sidebar {
    height: 100vh;
}

.bgImage {
    height: 100vh;
    display: block;
}

.hero {
    position: relative;
    overflow: hidden;

}

.hero-text {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25vh;
    width: 100%;
    height: 160px;
    color: white;
    font-size: 70px;
    font-family: 'Norse';

}

.introtext, h2, table {
    padding-left: 50px;
}

.introtext {
    padding-top: 10vh;
    padding-bottom: 2vh;
    padding-right: 200px;
}

.text-container {
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form-container {
    font-size: 1rem;
    box-shadow: 10px 10px 8px #888888;
    width: 100%;
}

table {
    width: 30%;
    height: 250px;
    letter-spacing: 1px;
}

tr, td {
padding-right: 25px;
padding-bottom: 25px;
    
}

input {
    width: 220px;
    height: 1.8rem;
}

input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input:invalid:focus {
    border: 1px solid red;
}

.create-acc, .bottom-text {
    margin: 50px;
}

.create-acc {
    border-radius: 8px;
    border-style: none;
    height: 70px;
    width: 250px;
    font-size: 1.5rem;
    color: white;
    background-color: #596D48;
    font-weight: bold;
    cursor: pointer;
}

.create-acc:hover {
    background-color: #799462;
}

.bottom-text {
    font-size: 1.7rem;
}

.bottom-text a {
    text-decoration: none;
    color: #596D48;
}

.bottom-text a:hover {
    text-decoration: underline;
}